<!DOCTYPE html>
<html>
<head>
   <title>Culture</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="bg-gray-50 text-gray-800 px-6">
      <header class="flex justify-end p-4 text-white">
         <button onclick="window.location.href='/logout'"
            class="text-xl font-medium hover:underline mt-2">
            <div class="flex items-center gap-3">
               <img src="/images/logout-icon.png" alt="Logout icon" class="w-5">
               <span class="text-black hover:text-red-500 hover:underline">Logout</span>
            </div>
         </button>
      </header>
      <div class="container mx-auto p-6 px-36">
         <h1 class="text-4xl font-semibold mb-6 text-center">Culture List</h1>
         <div class="flex justify-end mb-4">
            <div class="bg-violet-500 hover:bg-violet-600 px-4 py-2 rounded-md space-x-2">
               <i class="fa-solid fa-plus text-white"></i>
               <button onclick="window.location.href='/add'" class="text-white">Add Customer</button>
            </div>
         </div>
         <div class="overflow-y-auto space-y-5">
            <% detail.forEach(detail => { %>
               <div class="flex border rounded-md p-4 gap-4">
                  <img alt="Culture picture" class="object-cover w-[350px] h-[300px] rounded-md"
                     src=<%=detail.image_path %>>
                  <div class="flex flex-col justify-between space-y-2 px-4 w-full">
                     <div class="flex flex-col gap-3">
                        <h4 class="text-xl font-normal mt-4">
                           <%= detail.local_name %>
                        </h4>
                        <div class="flex items-start gap-3">
                           <img src="/images/history-icon.png" alt="Phone icon" class="w-6">
                           <p class="text-zinc-500 hover:text-black">
                              <%= detail.history %>
                           </p>
                        </div>
                        <div class="flex items-center gap-3">
                           <img src="/images/address-icon.png" alt="Phone icon" class="w-6">
                           <p class="text-zinc-500 hover:text-black pr-52">
                              <%= detail.address %>
                           </p>
                        </div>
                     </div>
                     <div class="flex justify-between w-full">
                        <div class="w-full flex items-center gap-3">
                           <img src="/images/phone-icon.png" alt="Phone icon" class="w-6">
                           <p class="text-zinc-500 hover:text-black">
                              <%= detail.phone_number %>
                           </p>
                        </div>
                        <div class="w-full flex justify-end gap-3">
                           <button onclick="window.location.href='/edit/<%= detail.detail_id %>'" class="bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded-md text-white">
                              Edit
                           </button>
                           <button onclick="confirmDelete('<%= detail.detail_id %>')" class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md text-white">
                              Delete
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            <% }); %>
      </div>
   </div>
   <script src="/app.js"></script>
</body>
</html>